* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    /* https://github.com/Ghosh/uiGradients */
    background: #E55D87;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FC3E4, #E55D87);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Calculator container */
.container {
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

button {
    border: none;
}

.calc {
    display: grid;
    position: absolute;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vw;
    height: 70vh;
    margin: auto;
}

.display {
    display: flex;
    grid-area: 1 / 1 / span 1 / span 4;
    justify-content: flex-end;
    align-items: center;
    font-size: 3.5em;
}

.display p {
    margin-right: 2vw;
    margin-left: 2vw;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

/* Display scrollbar on overflow */
::-webkit-scrollbar {
    height: 2.5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #202020;
}

/* Row buttons */
.row1 button,
.row2 button,
.row3 button,
.row4 button,
.row5 button {
    width: 15vw;
}

/* Calculator borders */
.display {
    border: 3px solid #202020;
}

.clear {
    border-left: 3px solid #202020;
}

.operator {
    border-right: 3px solid #202020;
    border-left: 3px solid #202020;
}

.row1 button:nth-of-type(1) {
    border-left: 3px solid #202020;
}

.row2 button,
.row3 button,
.row4 button,
.row5 button,
.row2 button:nth-of-type(2),
.row3 button:nth-of-type(2),
.row4 button:nth-of-type(2),
.row5 button:nth-of-type(2) {
    border-left: 3px solid #202020;
    border-top: 3px solid #202020;
}

.row5 button {
    border-bottom: 3px solid #202020;
}

.row5 button:last-of-type {
    border-right: 3px solid #202020;
}

/* Buttons */
button {
    font-size: 4vw;
    background-color: transparent;
}

button:focus {
    outline: none;
}

/* Button colors */
.operator {
    background-color: rgba(95, 195, 228, 0.4);
}

.num,
.clear,
.del,
.decimal {
    background-color: rgba(229, 93, 135, 0.4);
}

.equals {
    background-color: rgba(35, 207, 228, 0.6);
}

/* Calculator rows */
.row1,
.row2,
.row3,
.row4,
.row5 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.row1 {
    grid-area: 2 / 1 / span 1 / span 4;
}

.row2 {
    grid-area: 3 / 1 / span 1 / span 4;
}

.row3 {
    grid-area: 4 / 1 / span 1 / span 4;
}

.row4 {
    grid-area: 5 / 1 / span 1 / span 4;
}

.row5 {
    grid-area: 6 / 1 / span 1 / span 4;
}

.temp-equation {
    display: inline-block;
    font-size: 0.7em;
}